{% extends 'base.html' %}
{% block title %}Home | DevPortfolio{% endblock %}
{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to My Portfolio</h1>
      <p class="col-md-8 fs-4">I'm a passionate developer specializing in building beautiful and functional web applications. Explore my projects and blog posts to see my work.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'project_list' %}" role="button">View My Projects</a>
    </div>
  </div>
{% endblock %}